@media (min-width: 640px) {
    #menu-toggle {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
    }

    nav a {
        border-top: none;
        padding: 8px 16px;
        border-radius: 4px;
    }

    .album {
        grid-template-columns: repeat(3, 1fr);
    }
}
